.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 2.5rem;
    padding-inline: var(--padding-side);
    @media (min-width: $breakpoint-md) {
        padding-block: 0 4.75rem;
    }
    h4 {
        font-size: 1.75rem;
        font-weight: 400;
        letter-spacing: -0.04px;
        text-align: center;
        @media (min-width: $breakpoint-md) {
            font-size: 2rem;
        }
    }
}
.grid {
    gap: 1rem;
    column-gap: 0 !important;
    display: flex;
    flex: 1 1;
    flex-flow: row wrap;
    height: 100%;
    .card {
        cursor: pointer;
        min-width: 100%;
        min-height: auto;
        display: flex;
        flex-direction: column;
        padding: 0 .5rem;
        @media (min-width: $breakpoint-md) {
            min-width: 50%;
        }
        @media (min-width: $breakpoint-lg) {
            min-width: 25%;
        }
        .cover-img {
            background: #E1E1E1;
            height: 340px;
            overflow: hidden;
            position: relative;
            display: block;
            border-radius: 10px;
            @media (min-width: $breakpoint-md) {
                height: 100%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 0;

                filter: contrast(.9) brightness(1.2) grayscale(.1);
                transition: filter 0.2s ease;
            }
        }
        .card-title {
            margin: 1rem 0 .75rem;
            display: flex;
            justify-content: center;
            p {
                font-size: 1rem;
            }
        }
        &:hover {
            .cover-img {
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 0;

                    filter: contrast(1) brightness(1) grayscale(0);
                }
            }
        }
    }
}
